h1{
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
}
.course-table{
    margin: auto;
    padding: 10px;
    width: 50%;
    font-family: sans-serif ;
}
table{
    margin: auto;
    width: 75%;
    text-align: left;
}

tr:nth-child(even) {background-color: #ffffeb;}